.margin {
  background-color: aqua;
}

.margen {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-right: 380px;
}
.image {
  width: 224px;
  height: 28px;
  object-fit: cover;
  margin-top: 150px;
  margin-bottom: 50px;
}

h1{
  font-family: "Inter", sans-serif;
  line-height: 70px;
}
.parrafo{
  display: inline-block;
  color: black;

}
.a1{
  margin-top: 30px;
  gap: 10px;
}
.boto1{
  border-radius:  10px;
  padding: 20px;
  width: 149px;
  padding: 12px 24px;
  height: 50px;
justify-content: center;
font-weight: 700;
font-size: 18px;
}
 
.boto2{
  border-radius:  10px;
  padding: 20px;
  padding: 12px 24px;
  height: 50px; 
  width: 309px;
  justify-content: center;
letter-spacing: 1.4px;
}