/* estilo de la sección home */

.home {
  background-color: rgba(250, 249, 245)
    255,
    255,
    255
  ); /* el div que agarra la forma del inicio de sesión */
  height: 600px;
  width: 544px;
  margin: 0 auto;
  border-radius: 25px;
}
.log-in {
  background-color: rgba(250, 249, 245); /* div parte de inicio de sesión */
  width: 73%;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  padding: 29px 21px 10px 21px;
  border: 1px solid #bcbcbc;
}

.texto {
  background-color: rgba(250, 249, 245)
  ); /* inicio de sesion div; textos superiores */
  height: 40%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Tamah2 {
  /* texto del inicio de sesion chico */
  font-size: 56px;
  font-weight: 100;
  margin: 0;
}
.Tamah3 {
  /* texto del inicio de sesion grande */
  font-weight: 150;
}
.chat {
  background-color: rgba(250, 249, 245); /* imagen interactiva / chat */
  height: 90vh;
  width: 50%;
}
.container {
  /* contenedor del lado inicio de sesion */
  height: 90vh;
  width: 78%;
  margin: 0 auto; /* centrar el contenedor */
  display: flex;

  align-items: center;
  background-color: rgba(250, 249, 245)
  justify-content: space-between;
}

.descargar {
  margin: 0 auto;
  display: flex;
  margin-top: 30px;
  background-color: rgba(250, 249, 245);
}
.google {
  /* boton de google, la imagen */
  height: auto;
  width: 17px;
  object-fit: contain;
  text-align: center;
  align-items: center;
  background-color: rgba(250, 249, 245);
}
.continuargoogle {
  padding: 0%;
}
p {
  text-align: center;
  margin: 0%;
  font-family: "DM Sans", sans-serif;
  padding: 0px;
}

.singcorreo {
  /* botenes de inicio de sesión */
  background-color: #ffffff;
  height: 45px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 17px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;

  align-items: center;
}

.negro {
  /* boton de inicio de sesión con fondo negro + singcorreo */
  background-color: black;
  color: #ffffff;
}
.textocorreo {
  /* campo de entrada para el correo electrónico  */
  width: 96%;
  border: 1px solid #bcbcbc;
  padding-left: 10px;
}

.descargar {
  background-color: rgba(250, 249, 245);
  height: 39px;
  width: 65%;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
}
.windowslogo {
  height: 16px;
  width: auto;
}

.politicas {
  color: #aaaaaa;
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
}
